.archetypes-interface-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 400px;
  margin: 20px auto;

  @media (max-width: 450px) {
    width: 300px;
  }

  .archetype {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
    .item-box {
      width: 128px;
      height: 128px;
    }
  }
}