.builds-sidebar-content-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;  
  
  .title {
    font-weight: 900;
    margin: 7.5px 0 7.5px 10px;
  }
  
  .favorites {
    .nav-item {
      opacity: 0;
      height: 0;
      width: 0;

      &.favorite {
        opacity: 1;
        height: 40px;
        width: 100%;
      }
    }
  }
  
  .builds {
    .nav-item {
      opacity: 1;
      height: 40px;
      width: 100%;
      
      &.favorite {
        opacity: 0;
        height: 0;
        width: 0;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    .nav-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      color: white;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;

      transition: width .8s ease-in-out, height .8s ease-in-out, opacity .8s ease-in-out, background .3s ease-out;

      &:hover,
      &.active {
        background: #000;
      }
      
      .build-select {
        width: 100%;
        text-align: left;
      }
      
      .actions {
        display: flex;
      }
    }
  }

  .no-data {
    margin: 20px 10px;
  }

  .new-build-button {
    padding: 10px;
    background: #7e0d0d;

    display: flex;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

    transition: all 0.3s ease-in-out;

    &:hover {
      background: #8f1313;
    }
  }
}