.import-save-modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin: 0 20px;
  max-width: 100vw;
  box-sizing: border-box;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  
  .close {
    position: absolute;
    top: 0;
    right: -7px;
  }
  
  h2 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  pre {
    text-wrap: wrap;
    margin: 0;
    margin-top: 10px;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
    
    a {
      color: darkred;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: red;
      }
    }
  }
  
  .data-list {
    .title {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
    }
    
    .list {
      height: 0;
      overflow: hidden;
      margin: 20px 0;
      
      transition: all .3s ease-out;
      
      &.open {
        height: auto;
      }
      
      table {
        width: 100%;
        
        tr {
          th {
            text-align: left;
          }
        }
      }
    }
  }

  .dropzone {
    border: 2px dashed #a65252;
    padding: 10px;
    cursor: pointer;

    .dropzone-content {
      display: flex;
      align-items: center;
      gap: 5px;

      .dropzone-description {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        & > span {
          font-size: 12px;
          color: rgb(102, 102, 102);
        }

        &.file-types {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 100px;
        }

        .underline {
          text-decoration: underline;
        }
      }
    }
  }

  .buttons {
    display: flex;
    gap: 10px;

    button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px 10px 10px 5px;
      color: #fff;

      &.merge {
        background: #4242e1;

        &:hover {
          background: #3030e0;
        }
      }

      &.overwrite {
        background: #e04d4d;

        &:hover {
          background: #c52828;
        }
      }
    }
  }
}