.item-select-modal-container {
  display: flex;
  flex-direction: column;

  width: 440px;
  height: 500px;
  background-color: #f1f1f1;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

  @media (max-width: 450px) {
    width: 100%;
    //margin: 20px;
  }

  input {
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    background: transparent;
    border: none;
    //border-bottom: 1px solid #000;
  }

  #list {
    display: flex;
    flex-direction: row;
    padding-top: 10px;

    flex-wrap: wrap;
    gap: 5px;
    overflow-y: auto;
    height: 100%;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      justify-content: center;
      padding-bottom: 5px;
      width: 100px;
      height: 150px;
      box-sizing: border-box;

      transition: all 0.3s ease-in-out;

      &:hover {
        background: #d5d5d5;
      }
    }
  }
}