.footer-container {
  position: fixed;
  width: 100%;
  height: 45px;
  bottom: 0;
  background: #292929;
  z-index: 100;
  color: #fff;
  padding: 5px 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;

  .flex-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 33%;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: #d95c5c;
    }
  }

  .left {
    .copyright {
      a {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  
  .center {
    display: flex;
    justify-content: center;
    gap: 20px;
    
    .icon-link {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: .85em;
      
      &.patreon {
        &:hover {
          color: var(--main-color-dark);
        }
      }
      
      &.paypal {
        &:hover {
          color: dodgerblue;
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    
    .socials {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}