.sidebar-container {
  position: fixed;
  top: 0;
  background: #292929;
  color: #fff;
  min-height: 100vh;
  padding: 74px 0 45px 0;
  box-sizing: border-box;
  width: 235px;
  z-index: 50;
  
  &.right {
    overflow: hidden;
  }
  
  &.left {
    left: 0;
    
    .opener {
      right: -57px;
    } 
    
    //&.open {
    //  .opener {
    //    left: 235px;
    //  }
    //}
  }
  
  &.right {
    right: 0;
    
    .opener {
      right: 0;
    }

    &.open {
      .opener {
        right: 235px;
      }
    }
  }

  .content {
    overflow: auto;
    height: calc(100vh - var(--topbar-height) - var(--footer-height));
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 235px;
  }

  .opener {
    display: none;
    position: fixed;
    top: 80px;
    color: #ffffff;
    background: #292929;
    padding: 5px;

    animation: scale 1.2s ease-in-out;
    transition: all 0.3s ease-out;

    button {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0.25em;
        height: 0.25em;
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
        border-radius: 3em;
        transform: scale(1);
        transform-origin: 50% 50%;
        -webkit-animation: ripple-33 1.5s cubic-bezier(0.11, 0.29, 0.18, 0.98);
        animation: ripple-33 1.5s cubic-bezier(0.11, 0.29, 0.18, 0.98);
      }
    }
  }

  @media (max-width: 1200px) {
    position: fixed;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-out;

    &.left {
      transform: translateX(-235px);
    }

    &.right {
      width: 0;
    }
    
    
    &.open {
      &.left {
        transform: translateX(0px);
      }

      &.right {
        width: 235px;
      }
    }

    .opener {
      display: block;
    }
  }
}