.top-bar-container {
  position: fixed;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  
  width: 100%;
  z-index: 100;
  background: #292929;
  color: #fff;
  height: var(--topbar-height);
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  
  .flex-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 33%;
  }
  
  .left {
    
  }
  
  .center {
    display: flex;
    justify-content: center;
    
    nav {
      display: flex;
      flex-direction: row;
      gap: 20px;

      transition: all .3s ease-in-out;

      a {
        position: relative;
        padding-bottom: 5px;
        box-sizing: border-box;
        text-transform: uppercase;

        transition: all .3s ease-in-out;

        &:hover,
        &.active {
          font-weight: bold;
        }
      }

      .patreon {
        display: none;
        position: fixed;
        bottom: 0;
        margin-bottom: var(--footer-height);
        
        a {
          display: flex;
          align-items: center;
          gap: 2.5px;
          color: var(--main-color-dark);
          text-transform: none;

          &:hover {
            font-weight: bold;
            color: var(--main-color-dark-hover);

            svg {
              transform: scale(1.1);
            }
          }
        }
      }

      @media (max-width: 550px) {
        height: 0;
        width: 0;
        padding-top: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        box-sizing: border-box;
        background: #292929;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        top: var(--topbar-height);
        
        &.open {
          height: 100vh;
          width: 100vh;
          opacity: 1;
          padding-top: 100px;
          
          a {
            font-size: 1.5em;
          }
        }
        
        a {
          font-size: 0;
          width: 100%;
          text-align: center;
          padding: 20px 0;
        }
        
        .patreon {
          display: block;
        }
      }
    }
  }
  
  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    
    .patreon {
      a {
        display: flex;
        align-items: center;
        gap: 2.5px;
        font-size: .9em;
        color: var(--main-color-dark);
        
        &:hover {
          font-weight: bold;
          color: var(--main-color-dark-hover);
          
          svg {
            transform: scale(1.1);
          }
        }
      }

      @media (max-width: 1050px) {
        display: none;
      }
    }
    
    .search {
      @media (max-width: 850px) {
        display: none;
      }
    }

    .settings {
      svg {
        transform: rotate(180deg);
        transform-origin: center;
        transition: all 0.5s ease-in-out;
      }

      &.active svg {
        transform: rotate(0deg);
      }
    }

    .hamburger {
      display: none;

      cursor: pointer;
      width: 48px;
      transition: all 0.25s;
      margin-right: 0;
      position: relative;
      background: transparent;
      border: none;

      &:hover [class*="-bun"] {
        background: #f1f1f1;
      }

      .hamburger__top-bun,
      .hamburger__bottom-bun {
        position: absolute;
        left: 25%;
        width: 24px;
        height: 2px;
        background: #fff;
        transform: rotate(0);
        transition: all 0.5s;
      }

      .hamburger__top-bun {
        transform: translateY(-5px);
      }

      .hamburger__bottom-bun {
        transform: translateY(3px);
      }

      &.open {
        transform: rotate(90deg) translateY(-1px);
      }

      &.open .hamburger__top-bun {
        transform: rotate(45deg) translateY(0px);
      }

      &.open .hamburger__bottom-bun {
        transform: rotate(-45deg) translateY(0px);
      }

      @media (max-width: 550px) {
        display: block;
      }
    }
  }
}
