.category-sidebar-content-container {
  margin-top: 10px;

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
    box-sizing: border-box;

    .sub-links {
      height: auto;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      width: 100%;
      box-sizing: border-box;
    }

    a,
    div {
      width: 100%;
      box-sizing: border-box;

      span {
        padding: 5px 10px;
        box-sizing: border-box;
      }

      &.sub-link {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 7.5px 0 7.5px 10px;
        width: 100%;
        box-sizing: border-box;

        transition: all 0.3s ease-in-out;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background: rgba(159, 19, 19, 0.66);

          transition: all 0.5s ease-in-out;
        }

        &:hover:after,
        &.active:after {
          width: 100%;
        }

        &:hover,
        &.active {
          background: #181818;
        }
      }

      &.main-category {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;
        box-sizing: border-box;

        a:first-child {
          margin-top: 5px;
        }

        &:hover {
          background: inherit;
        }
      }
    }
  }
  
  .button {
    padding: 5px;
    margin-bottom: 10px;
    background: #7e0d0d;

    display: flex;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    margin-top: 10px;

    transition: all 0.3s ease-in-out;

    &:hover {
      background: #8f1313 !important;
    }
  }
}