.item-container {
  position: relative;
  width: 200px;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
  padding: 5px 10px 25px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  transition: background 0.3s ease-in-out;

  .field-title {
    font-weight: bold;
  }

  .unlock-information {
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: auto;

    button {
      color: #292929;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #963838;
      }
    }
  }

  &.list {
    width: 100%;

    .unlock-information {
      right: 2px;
      left: auto;
    }
  }

  &.unlocked {
    background: #fff;
  }

  &.locked {
    background: #e0e0e0;
  }

  @media (max-width: 550px) {
    width: 100%;
  }
}