.item-level-container {
  display: flex;

  button {
    font-size: 1.3em;
  }

  input {
    width: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;

    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}