.list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    
    .tracker {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .image {
      flex-basis: 100px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .title {
      text-align: left;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
    .field {
      text-align: right;
    }
  }
}