.notfound-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #383838;
  color: #fff;
  box-sizing: border-box;

  main {
    text-align: center;
    margin-top: -12vh;

    h1 {
      font-family: "Fontdiner Swanky", cursive;
      font-size: 4rem;
      color: #dc5050;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 2.5rem;

      em {
        font-style: italic;
        color: #dc5050;
      }
    }

    .relevant {
      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px;

        a {
          font-family: "Fontdiner Swanky", cursive;
          font-size: 1rem;
          color: #383838;
          border: none;
          background: #f36a6f;
          padding: 1rem 2.5rem;
          transform: skew(-5deg);
          transition: all 0.1s ease;

          &:hover {
            background: #a6262a;
            color: #fff;
            transform: scale(1.15);
          }
        }
      }
    }
  }
}