.builds-container {
  height: auto;

  .tabs {
    padding-top: 40px;

    .tabs-menu {
      display: flex;
      justify-content: center;
      gap: 10px;

      .tabs-menu-item {
        padding: 10px;
        border: 1px solid #000;
        cursor: pointer;

        transition: all 0.5s ease-in-out;

        &:hover,
        &.active {
          background: darkred;
          color: #fff;
        }
      }
    }
  }
}