.homepage-container {
  .herobanner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);

    .bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      //filter: grayscale(100%);
    }

    .left {
      background: rgba(255, 255, 255, 0.3);
      color: #000;
      padding: 30px 20px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(5px);
      z-index: 10;
      border-radius: 10px;
    }

    h1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      margin-bottom: 10px;
      gap: 10px;
      
      img {
        width: 20px;
      }
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .image {
      z-index: 10;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);

      img {
        height: 400px;
      }

      @media (max-width: 950px) {
        display: none;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 10px;

      .button {
        background: linear-gradient(to right, #ac0919, #c42308);
        color: #fff;
        padding: 10px 20px;
        font-size: 1.1em;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background: linear-gradient(to top, #ac0919, #c42308);
          transform: scale(1.1);
        }
      }
    }

    @media (max-width: 1030px) {
      gap: 20px;
    }
  }
  
  .panels {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    justify-content: center;

    .panel {
      max-width: 450px;
      min-width: 300px;
      width: 100%;

      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

      border: 1px solid #000;
      box-sizing: border-box;
      background: #3b3b3b;
      color: #fff;

      h3 {
        text-align: center;
        margin-bottom: 20px;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .item {
          p {
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      .donation-button {
        padding: 10px 20px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 10px;
        width: 190px;
        box-shadow: 0 0 15px rgba(0,0,0,.5);

        transition: all 0.3s ease-in-out, transform .1s ease-out;
        
        &:active {
          transform: scale(.9);
        }

        &.patreon {
          background: #f1465a;

          &:hover {
            background: #ca0f25;
          }
        }

        &.paypal {
          background: #009cde;

          &:hover {
            background: #003087;
          }
        }

        div {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 0.95em;

          .icon {
            color: #000;
          }
        }
      }
    }
  }
}