.secret-worlds-panel-container {
  .values {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;

    .world {
      display: flex;
      flex-direction: column;
      gap: 10px;

      picture {
        display: block;
        width: 180px;
      }
    }
  }
}
