:root {
  --topbar-height: 74px;
  --footer-height: 45px;
  --main-color-light: #7e0d0d;
  --main-color-light-hover: #8f1313;
  --main-color-dark: #e32942;
  --main-color-dark-hover: #c5152d;
}

/* Reset styles for heading elements */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Reset styles for unordered lists */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  min-height: 100vh;
}

/* 1. Roboto */
/* 2. Montserrat */
/* 3. Bricolage Grotesque */

body {
  color: #000;
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(0deg, #fff 25%, #fff 50%, #dadada 50%, #dadada 75%, #fff 100%);
  background-size: 5px 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

button:disabled, input:disabled {
  cursor: not-allowed;
}

#tooltip {
  z-index: 9999999;
  max-width: 200px;
}

.tooltip {
  z-index: 9999999;
}

#google-toast {
  .google-saving-toast {
    .pending {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.debug-stats {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
}




.checkbox-wrapper {
    --s-xsmall: 0.625em;
    --s-small: 1.2em;
    --border-width: 1px;
    --c-primary: #c54848;
    --c-primary-20-percent-opacity: rgba(121, 120, 126, 0.2);
    --c-primary-10-percent-opacity: rgba(46, 46, 49, 0.1);
    --t-base: 0.4s;
    --t-fast: 0.2s;
    --e-in: ease-in;
    --e-out: cubic-bezier(.11,.29,.18,.98);
}

.checkbox-wrapper .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.checkbox-wrapper .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.checkbox-wrapper .checkbox + .checkbox {
    margin-top: var(--s-small);
}
.checkbox-wrapper .checkbox__symbol {
    display: flex;
    border: var(--border-width) solid var(--c-primary);
    position: relative;
    border-radius: 0.1em;
    width: 1.5em;
    height: 1.5em;
    transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
    box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}
.checkbox-wrapper .checkbox__symbol:after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 0.25em;
    height: 0.25em;
    background-color: var(--c-primary-20-percent-opacity);
    opacity: 0;
    border-radius: 3em;
    transform: scale(1);
    transform-origin: 50% 50%;
}
.checkbox-wrapper .checkbox .icon-checkbox {
    width: 1em;
    height: 1em;
    margin: auto;
    fill: none;
    stroke-width: 3;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    color: var(--c-primary);
    display: inline-block;
}
.checkbox-wrapper .checkbox .icon-checkbox path {
    transition: stroke-dashoffset var(--t-fast) var(--e-in);
    stroke-dasharray: 30px, 31px;
    stroke-dashoffset: 31px;
}
.checkbox-wrapper .checkbox__trigger:checked + .checkbox__symbol:after {
    -webkit-animation: ripple-33 1.5s var(--e-out);
    animation: ripple-33 1.5s var(--e-out);
}
.checkbox-wrapper .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
    transition: stroke-dashoffset var(--t-base) var(--e-out);
    stroke-dashoffset: 0;
}
.checkbox-wrapper .checkbox__trigger:focus + .checkbox__symbol {
    box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

.unlocked .checkbox-wrapper {
  --c-primary: green;
}

@-webkit-keyframes ripple-33 {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(20);
    }
}

@keyframes ripple-33 {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(20);
    }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.google-saving-toast {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

